certifi==2020.6.20
chardet==3.0.4
fastapi==0.61.0
idna==2.10
pydantic==1.6.1
python-engineio==3.13.1
python-socketio==4.6.0
requests==2.24.0
six==1.15.0
starlette==0.13.6
urllib3==1.25.10
uvicorn==0.11.8
